<mat-tab-group class="pb-4 ">
  <mat-tab label="Menu">
    <div class="row">
      <section class="col-md-8 pt-3">
        <ol class="list-group list-group-item-action">
          <li *ngFor="let item of menuItems" class="list-group-item d-flex justify-content-between align-items-start">
            <span><img [src]="item.imagePath" style="width: 8rem;" alt="" srcset=""></span>
            <div class="ms-2 me-auto">
              <span class="lead fw-bold">{{item.name}}</span>
              <p class=" fw-normal text-black-50 my-2 "> {{item.description}}</p>
              <p class=" fw-normal text-black-50 my-4 ">
                <span class="me-4">{{item.price | currency: 'BRL': 'symbol'}}</span>
                <a
                  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i
                    class="bi bi-plus-circle-fill"></i>
                  Adicionar</a>
              </p>
            </div>
          </li>
        </ol>
      </section>
      <section class="col-md-4 pt-3">
        <div class="card bg-body">
          <div class="card-header">
            <span><i class="bi-cart-fill me-1"></i>Carrinho</span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th>(1x) Starbucks Copycat</th>
                    <td>{{10 | currency: 'BRL': 'symbol' }}</td>
                    <td><a class="danger btn-outline-danger"><i class="bi bi-x"></i></a></td>

                  </tr>
                  <tr>
                    <th>Total:</th>

                    <td class="text-right">{{10 | currency: 'BRL': 'symbol' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </section>
    </div>
  </mat-tab>
  <!-- Avaliações -->
  <mat-tab label="Avaliações">
    <div class="example-large-box ">
    </div>
  </mat-tab>
</mat-tab-group>
