.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

label {
  color: black;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.danger {
  color: #dd4b39;
  display: inline;
}

/* a:hover {
  outline: none;
  color: #629df5;
  text-decoration: none;
} */

a {
  color: #0d6efd;
}

.review-score {
  font-size: 30px;
  font-weight: bold;
}
