<mat-tab-group class="pb-4 ">
  <mat-tab label="Menu">
    <div class="row">
      <section class="col-md-8 pt-3">
        <ol class="list-group list-group-item-action">
          <li *ngFor="let item of menuItems" class="list-group-item d-flex justify-content-between align-items-start">
            <span><img [src]="item.imagePath" style="width: 8rem;" alt="" srcset=""></span>
            <div class="ms-2 me-auto">
              <span class="lead fw-bold">{{ item.name }}</span>
              <p class="fw-normal text-black-50 my-2">{{ item.description }}</p>
              <p class="fw-normal text-black-50 my-4">
                <span class="me-4">{{ item.price | currency: 'BRL': 'symbol' }}</span>
                <a (click)="addItem(item)" class="btn"><i class="bi bi-plus-circle-fill"></i> Adicionar</a>
              </p>
            </div>
          </li>
        </ol>
      </section>
      <section class="col-md-4 pt-3">
        <div class="card bg-body">
          <div class="card-header">
            <span><i class="bi-cart-fill me-1"></i> Carrinho</span>
          </div>
          <div class="card-body">
            <div *ngIf="!items().length">
              <p class="text-center">Seu carrinho está vazio!</p>
            </div>
            <div class="table-responsive" *ngIf="items().length">
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of items()">
                    <th>({{ item.quantity }}x) {{ item.menuItem.name }}</th>
                    <td>{{ item.value() | currency: 'BRL': 'symbol' }}</td>
                    <td class="text-right">
                      <a (click)="removeItem(item)" class="danger btn"><i class="bi bi-x"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td class="text-right">{{ total() | currency: 'BRL': 'symbol' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <div class=" d-flex justify-content-between">
              <button type="button" (click)="clear()" class="btn btn-danger">
                <i class="bi bi-trash"></i> Limpar
              </button>
              <a class="btn btn-success text-white"><i class="bi bi-credit-card"></i> Fechar Pedido</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </mat-tab>
  <!-- Avaliações -->
  <mat-tab label="Avaliações">
    <div class="row">
      <section class="col-md-12 pt-3">
        <ol class="list-group list-group-item-action">
          <li *ngFor="let item of menuItems" class="list-group-item d-flex justify-content-between align-items-start">
            <span><img [src]="item.imagePath" style="width: 8rem;" alt="" srcset=""></span>
            <div class="ms-2 me-auto">
              <span class="lead fw-bold">{{ item.name }}</span>
              <p class="fw-normal text-black-50 my-2">{{ item.description }}</p>
              <p class="fw-normal text-black-50 my-4">
                <span class="me-4">{{ item.price | currency: 'BRL': 'symbol' }}</span>
                <a (click)="addItem(item)" class="btn"><i class="bi bi-plus-circle-fill"></i> Adicionar</a>
              </p>
            </div>
          </li>
        </ol>
      </section>
    </div>
  </mat-tab>
</mat-tab-group>
