<section class="container py-md-3">
  <div class="row">
    <div class="col-12">
      <div class="border-x-current">
        <section class="card-header card-group justify-content-between">
          <div class="col">
            <span class="icon-link"><i class="bi-house-fill"></i>{{restaurant?.name}}</span>
          </div>
          <div class="col-2">
            <span class="icon-link"><i class="bi-star-fill"></i>{{restaurant?.rating}}</span>
          </div>
        </section>
        <div class="card-body box-boby card-group">
          <div class="col-auto">
            <span><img style="width: 180px;" [src]="restaurant?.imagePath" alt="{{restaurant?.name}}"></span>
          </div>
          <div class="col-auto">
            <dt>Categoria</dt>
            <dd>{{restaurant?.category}}</dd>
            <dt>Quem somos</dt>
            <dd>{{restaurant?.about}}</dd>
            <dt>Horários</dt>
            <dd>{{restaurant?.hours}}</dd>
          </div>
        </div>
        <mat-tab-group>
          <mat-tab label="Menu">
            <div class="mat-elevation-z4">
              <ol class="list-group list-group-numbered">
                <li *ngFor="let item of menuItems"
                  class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{item.name}}</div>
                    Cras justo odio
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
              </ol>
            </div>
          </mat-tab>
          <mat-tab label="Avaliações">
            <div class="example-large-box ">
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
