<section class="container py-md-3">
  <div class="row">
    <div class="col-12">
      <div class="border-x-current">
        <section class="card-header card-group justify-content-between">
          <div class="col">
            <span class="icon-link"><i class="bi-house-fill"></i>{{restaurant?.name}}</span>
          </div>
          <div class="col-2">
            <span class="icon-link"><i class="bi-star-fill"></i>{{restaurant?.rating}}</span>
          </div>
        </section>
        <div class="card-body box-boby card-group">
          <div class="col-auto">
            <span><img style="width: 180px;" [src]="restaurant?.imagePath" alt="{{restaurant?.name}}"></span>
          </div>
          <div class="col-auto">
            <dt>Categoria</dt>
            <dd>{{restaurant?.category}}</dd>
            <dt>Quem somos</dt>
            <dd>{{restaurant?.about}}</dd>
            <dt>Horários</dt>
            <dd>{{restaurant?.hours}}</dd>
          </div>
        </div>
        <div class="card-footer btn-group card-group justify-content-around" role="group"
          aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-warning" for="btnradio1">Radio 1</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-warning" for="btnradio2">Radio 2</label>


        </div>
      </div>
    </div>
  </div>
</section>
